@tailwind base;
@tailwind components;
@tailwind utilities;

details > summary {
  list-style: revert;
}

details > summary::-webkit-details-marker {
  display: revert;
}

a {
  @apply cursor-pointer text-hit-pink-200 underline-offset-4 hover:underline;
}

ul.list,
ol.list {
  @apply pl-4;
}

ul {
  @apply list-disc;
}

.list.space li {
  @apply mb-1.5;
}

ol {
  @apply list-decimal;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.masonry {
  counter-reset: item-counter;
}
