.wowee-that-is-a-nice-button {
  border: none;
  transition: ease all 300ms;
}

.wowee-that-is-a-nice-button:hover {
  animation: hueRotation 2s linear infinite;
  box-shadow:
    0px 10px 25px #57aba7,
    0px -10px 25px #a6fffa,
    inset 0px -5px 10px #57aba7,
    inset 0px 5px 10px #a6fffa;
}

.wowee-that-is-a-nice-button:disabled {
  animation: none;
  box-shadow: none;
}

@keyframes hueRotation {
  to {
    filter: hue-rotate(360deg);
  }
}

.wowee-that-is-a-nice-button:focus {
  outline: none;
}
