@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto&display=swap')

$smokey: #151313
$smokish: #2c2929
$fern: #497740
$steel: #3581B8
$mac: #FCB07E
$alabaster: #DEE2D6
$rose: #F46197

$white: $smokey
$white-ter: $smokey
$white-bis: $smokey

$grey: $smokish
$grey-light: $alabaster
$grey-dark: $alabaster
$grey-darker: $alabaster

$blue: $steel
$turquoise: $steel
$green: $fern
$yellow: $mac
$red: $rose

$family-sans-serif: "Roboto", sans-serif
$body-size: 16px
$radius-large: 6px

.section.fullheight
  min-height: calc(100vh - 3.25rem)

.title,
.subtitle,
.fancy
  font-family: "Josefin Sans", sans-serif

.tooltip
  background: $alabaster
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.5)
  padding: 1.25rem !important
  border-radius: $radius-large
  border-bottom: 3px solid $mac
  color: $smokey
  ol
    margin-top: 0 !important
    padding: 0

.tooltip-arrow
  background: $blue

.combo-container
  border-radius: $radius-large
  border-top: 3px solid $mac

.combo
  border-radius: $radius-large
  &:hover,
  &.active
    outline: 3px solid $steel
    transition: 0.3s ease all
  
.ms-cost
  box-shadow: 1px 1px 2px rgb(0 0 0 / 0.8)

@import "../../node_modules/bulma/bulma"
